version: '3'

services:
  init-data:
    image: busybox
    command: chmod -R 777 /data
    volumes:
      - ./data:/data
  surrealdb:
    image: surrealdb/surrealdb:latest
    container_name: surrealdb
    restart: always
    command: start --user ${SURREAL_ADMIN} --pass ${SURREAL_PASS} file:/data/database.db
    ports:
      - 8000:8000
    volumes:
      - ./data:/data
    depends_on:
      init-data:
        condition: service_completed_successfully


# volumes:
#   surrealdb-data: